body {
  background-color: white;
}

pre {
  font-family: monospace;
  display: inline;
  padding: 5px;
  color: white;
  background-color: #555;
}

.overflow {
  overflow: auto;
  display: flex;
}

.App {
   text-align: center; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.artists-grid {
  padding-top: 15px;
}

.image { 
    width: 100%;
    height: 100%;
}

.button {
    margin: 0;
    top: 'auto';
    right: 100;
    bottom: 20;
    left: 'auto';
    position: 'fixed';
  }

  .preview-image { 
    display: block;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
  }

  .root {
    display: 'flex';
  }
  .appBar   {
    z-index:  100;
  }

  .drawer {
    width: 240;
    padding-left: 500;
  }

  .drawerPaper  {
    width: 240px;
    display: flex;
  }
  .drawerContainer {
    overflow: 'auto';
  }
  .content {
    flex-grow: 1;
  }

  .typeHeader {
    color: black
  }

  .hovering-drag {
    opacity: .1;
  }