{
  "plugins": [
    "@babel/plugin-transform-typescript",
    "import-glob"
  ],
  "presets": [
    "@babel/preset-typescript"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "minify",
          {
            "builtIns": false,
            "evaluate": false,
            "mangle": false
          }
        ]
      ]
    }
  }
}