node_modules
bundle.js
npm-debug.log
build
.eslintcache
doc
docs
settings.loc*.env
settings.dev*.env
settings.prod*.env

index.js
env.json
dist

template.sam.yaml

landing_public
src/landing/resources