REACT_APP_AWAYTO_ID=##awaytoId##
REACT_APP_AWS_REGION=##awsRegion##
REACT_APP_COGNITO_USER_POOL_ID=##cognitoUserPoolId##
REACT_APP_COGNITO_CLIENT_ID=##cognitoClientId##
REACT_APP_COGNITO_IDENTITY_POOL_ID=##cognitoIdentityPoolId##
REACT_APP_API_GATEWAY_ENDPOINT=http://localhost:3001/